/* CSS Document */

        * {outline:1px solid red;}
			
            /* BOX SIZING */
            html {
                box-sizing:border-box;
            }
            *, *:before, *:after {
            box-sizing: inherit;
            }
			
			/* structure */
			html {background-clor:#ccc;}
			#wrap {width:100%; max-width:800px; margin:0 auto; background-color:white;}
			header {padding:20px 40px;}
			section {padding:0 40px;}
			header {background-color:lightblue}
			
			/* typography */
			li {margin-bottom:0px;}
			h2 {padding-top:20px;}
			header h1 {margin-bottom:0;}
			header h2 {margin-top:0; font-style:italic;}
			#contact ul {list-style-type:none; padding:0;}
			#contact li {display:inline}
			#contact span {paddin:0 10px;}
			#software ul, #hobbies ul {display:flex; list-style-type:none; padding:0;}
			#software li, #hobbies li {padding:10px; margin:0, 10px, 0, 0; background-color:lightblue; border-radius:6px}
			
			#education h4 {margin-top:0;}
			
			#hobbies {padding-bottom:40px;}
			